@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single+Ink:wght@100..900&family=Caveat:wght@400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "Michroma", sans-serif;;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;

    #left{
        height: 100%;
        width: 40%;

        #nav{
            display: flex;
            justify-content: space-between;
            padding: 1rem 2rem;
            #nav-left{
                h5{
                    i{
                        font-size: 1.3rem;
                    }
                }

            }

            #nav-right{
                display: flex;
                gap: 3rem;
                a{
                    color: black;
                    
                }

                h5{
                    i{
                        font-size: 1.3rem;
                    }
                }
            }
        }

        #main{
            width: 100%;
            height: 90%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0rem 5rem;
            gap: 1rem;
            

            h1{
                font-size:4rem;
            }

            p{
                width:30rem

            }

            a{
                color: black;
            }
        }
        
    }

    #right{
        height: 100%;
        width: 60%;
        


        #right-top{
            height: 50%;
            width: 100%;
            display: flex;

            #rt-left{
                height: 100%;
                width: 50%;
                

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position:center;
                    
                }
            }

            #rt-right{
                height: 100%;
                width: 50%;
                

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    
                }
            }

        }

        #right-bottom{
            height: 50%;
            width: 100%;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
                
            }
        }
    }
}

@media (max-width: 768px) {
  main {
    flex-direction: column;

    #left, #right {
      width: 100%;
      height: auto;
    }

    #main {
      h1 {
        font-size: 2rem;
      }

      p {
        width: 100%;
        font-size: 0.9rem;
      }
    }

    #nav {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
}
