@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single+Ink:wght@100..900&family=Caveat:wght@400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Michroma&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
}

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --primary: #536942;
  --secondary: #ffd936;
  --white: #efefef;
}

#main{
  height: 50vh;
  width: 100%;
  background-image: url(./img/main.png);
  background-position: center;
  background-size: cover;

  .container{
    nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 2rem;
      

      ul{
        color: var(--white);
        li{
          display: none;
        }

        button{
          display: none;
        }

        i{
          font-size: 2rem;
        }

      }
    }

    #main-text-section{
      display: flex;
      flex-direction: column;
      text-align: center;
      color: var(--white);
      padding-top: 4rem;
      align-items: center;
      // gap: 0.5rem;

      h2{
        font-size: 1.5rem;
      }

      h1{
        font-size: 3.5rem;
      }

      p{
        padding-top: 1rem;
        width: 20rem;
      }

      button{
        width: fit-content;
         border: none;
          outline: none;
          padding: 0.5rem 1rem;
          background-color: var(--secondary);
          color: var(--white);
          margin-top: 1rem;
          font-size: 1.2rem;
        
      }
    }
  }

}

#services{
  .container{
    h1{
      text-align: center;
      padding: 2rem 0rem;
      font-weight: 400;
    }
  }

  .services{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    .service{
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 0rem 2rem;
      h2{
        font-weight: 400;
      
        
      }
    }
  }
}

#testimonial{
  margin: 2rem 0rem;
  .container{
    padding: 1rem 2rem;
    width: 100%;
    background-color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    img{
      width: fit-content;
    }

    h1{
      font-size: 1rem;
    }
  }
}

#about{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 2rem;

  #about-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    #top{
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    button{
      width: fit-content;
       padding: 1rem 1.5rem;
        border: none;
        outline: none;
        background-color: var(--secondary);
    }
  }

  #about-image{
    height: 100%;
    width: 100%;
    
    img{
      height: 100%;
    width: 100%;
    object-fit: cover;
    }
  }
}

#footer{
  height: 40vh;
  width: 100%;
  img{
    height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
  }
}

footer{
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);

  ul{
    display: none;
  }
}


@media (min-width:900px) {
  #main {
  background-image: url(./img/main.png);
  background-size: cover;
  height: 70vh;

  .container {
    height: 100%;
    width: 100%;

    nav {
      display: flex;
      justify-content: space-between;
      padding: 0rem 8rem;
      align-items: center;

      img {
        height: fit-content;
        padding: 1rem;
      }

      ul {
        display: flex;
        align-items: center;
        gap: 1rem;
        

        li {
          list-style: none;
          display: block;

          a {
            text-decoration: none;
            color: var(--white);
            display: block;
          }
        }
        i{
          display: none;
        }

        button {
          height: fit-content;
          border: none;
          outline: none;
          padding: 0.5rem 1rem;
          background: none;
          color: var(--white);
          border: 1px solid white;
          font-size: 1.2rem;
          display: block;
        }
      }
    }

    #main-text-section {
      text-align: center;
      padding-top: 5rem;
      color: var(--white);
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      flex-direction: column;
      //   gap: 0.5rem;
      align-items: center;
      justify-content: center;

      h2 {
        font-size: 2rem;
        font-weight: 400;
      }

      h1 {
        font-size: 5rem;
      }

      p {
        padding-top: 0.5rem;
        width: 300px;
        line-height: 1.5;
      }

      button {
        padding: 0.5rem 1rem;
        background-color: var(--secondary);
        border: none;
        outline: none;
        width: fit-content;
        margin-top: 1.8rem;
      }
    }
  }
}

#services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 8rem;

  .container {
    h1 {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
      padding-bottom: 3rem;
    }
  }

  .services {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    .service {
      display: flex;
      flex-direction: column;
      font-family: Arial, Helvetica, sans-serif;
      gap: 1rem;

      h2 {
        font-weight: 400;
      }
      p {
        opacity: 0.6;
      }
      img{
        height: 100%;
        width: 100%;
      }
    }
  }
}

#testimonial {
  background-color: var(--white);
  padding: 4rem 8rem;
  .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-family: Arial, Helvetica, sans-serif;

    img {
      height: 2rem;
      width: fit-content;
    }

    h1 {
      width: 35rem;
      font-size: 1.5rem;
      opacity: 0.8;
    }
  }
}

#about {
    width: 100%;
    padding: 3rem 8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  #about-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 4rem 8rem;
    width: 50%;

    #top{
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      p{
        font-family: Arial, Helvetica, sans-serif;
      }

      h1{
        font-family: Arial, Helvetica, sans-serif;
        width: 30rem;
        opacity: 0.7;
      }
    }

    p{
      width: 25rem;
    }

    button{
        width: fit-content;
        padding: 1rem 1.5rem;
        border: none;
        outline: none;
        background-color: var(--secondary);
    }
    
  }
  #about-image{
    height: auto;
    width: 100%;
    img{
      width: 100%;
      height: 30rem;
    }
  }

}

#footer{
  height: auto;
  width: 100%;
  
  img{
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}


footer{
  display: flex;
  padding: 1rem 8rem;
  justify-content: space-between;

  ul{
    display: flex;
    gap: 1rem;
    align-items: center;
    li{
      list-style: none;
      a{
        text-decoration: none;
        color:var(--primary);
      }
    }
  }

}
}