@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Momo+Signature&family=Special+Gothic:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Momo+Signature&family=Special+Gothic:wght@400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Michroma", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

nav {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav #nav1 {
  display: flex;
  align-items: center;
  gap: 5rem;
}
nav #nav1 h3 {
  font-size: 1.5rem;
  font-family: "Momo Signature", cursive;
}
nav #nav1 ul {
  display: flex;
  gap: 2rem;
}
nav #nav1 ul li {
  list-style: none;
  font-family: "Special Gothic", sans-serif;
  font-weight: 500;
  cursor: pointer;
}
nav #nav1 ul li i {
  font-size: 0.7rem;
}
nav #nav2 #bttn {
  display: flex;
  gap: 1rem;
}
nav #nav2 #bttn #bttn1 {
  font-family: "Special Gothic", sans-serif;
  background-color: transparent;
  border: none;
  outline: none;
  color: black;
  padding: 1rem 1.5rem;
}
nav #nav2 #bttn #bttn2 {
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  border-radius: 2rem;
  font-family: "Special Gothic", sans-serif;
}

main {
  width: 100%;
  padding: 0rem 4rem;
}
main #sec1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main #sec1 #left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main #sec1 #left h2 {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}
main #sec1 #left p {
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.6;
  width: 27rem;
}
main #sec1 #left #left-bttm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}
main #sec1 #left #left-bttm #top {
  display: flex;
  gap: 1rem;
}
main #sec1 #left #left-bttm #top h5:nth-child(1) {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: 500;
  cursor: pointer;
}
main #sec1 #left #left-bttm #top h5:nth-child(1):hover {
  background-color: #3A3546;
  color: white;
}
main #sec1 #left #left-bttm #top h5:nth-child(2) {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: 500;
  cursor: pointer;
}
main #sec1 #left #left-bttm #top h5:nth-child(2):hover {
  background-color: #3A3546;
  color: white;
}
main #sec1 #left #left-bttm #top h5:nth-child(3) {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: 500;
  cursor: pointer;
}
main #sec1 #left #left-bttm #top h5:nth-child(3):hover {
  background-color: #3A3546;
  color: white;
}
main #sec1 #left #left-bttm #mid .search-box {
  background-image: url(Search_icon.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: right 15px center;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
main #sec1 #left #left-bttm #mid input {
  padding: 1rem;
  width: 38rem;
  border-radius: 1.5rem;
  outline: none;
  border: 1px solid transparent;
  background-color: #F3F3F6;
  font-family: Arial, Helvetica, sans-serif;
  transition: all ease-in 0.2s;
}
main #sec1 #left #left-bttm #mid input:hover {
  background-color: transparent;
  border-color: lightcoral;
  outline: none;
}
main #sec1 #left #left-bttm #bttm ul {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
main #sec1 #left #left-bttm #bttm ul li:nth-child(1) {
  border: none;
  padding: 0;
}
main #sec1 #left #left-bttm #bttm ul li {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem 0.8rem;
  font-size: 0.7rem;
  border: 1px solid grey;
  border-radius: 1rem;
  cursor: pointer;
}
main #sec1 #right {
  width: 50%;
}
main #sec1 #right #vid video {
  width: 100%;
  height: 65vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}
main #sec2 {
  display: flex;
  margin-top: 1rem;
  padding: 1rem 1rem;
  align-items: center;
  gap: 1rem;
  background-color: #F3F3F6;
  border-radius: 1rem;
}
main #sec2 button {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem 1.3rem;
  border: none;
  outline: none;
  background-color: white;
  border-radius: 1.5rem;
  font-weight: 600;
}
main #sec2 p {
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.6;
}
main #sec3 {
  display: flex;
  padding: 2rem 2rem 0rem 0rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
main #sec3 select {
  height: -moz-fit-content;
  height: fit-content;
}
main #sec3 ul {
  display: flex;
  gap: 1.6rem;
}
main #sec3 ul li {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}
main #sec3 ul li:hover {
  background-color: grey;
}
main #sec3 button {
  height: -moz-fit-content;
  height: fit-content;
  outline: none;
  padding: 0.5rem 1.2rem;
  border-radius: 1.5rem;
  border: 1px solid black;
  background-color: transparent;
}
main #sec4 {
  width: 100%;
  padding-top: 1.5rem;
}
main #sec4 #container {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
main #sec4 #container .boxes {
  background-color: green;
  flex-shrink: 0;
  height: 300px;
  width: 300px;
  flex-grow: 1;
}/*# sourceMappingURL=style.css.map */