@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Special+Gothic:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Momo+Signature&family=Special+Gothic:wght@400..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Michroma", sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    
}

nav{
    width: 100%;
    background-color: mediumorchid;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    #nav1{

        display: flex;
        align-items: center;
        gap: 5rem;
        h3{
            font-size: 1.5rem;
            font-family: "Momo Signature", cursive;
        }

        ul{
            display: flex;
            gap: 2rem;
            li{
                list-style: none;
                font-family: "Special Gothic", sans-serif;
            }
        }
    }

    #nav2{
        #bttn{
            display: flex;
            gap: 1rem;
            #bttn1{
                font-family: "Special Gothic", sans-serif;
                background-color:transparent;
                border: none;
                outline: none;
                color: black;
                padding: 1rem 1.5rem;
            }

            #bttn2{
                padding: 1rem 1.5rem;
                border: none;
                outline: none;
                background-color: black;
                color: white;
                border-radius: 2rem;
                font-family: "Special Gothic", sans-serif;
            }
        }
    }
}

main{
    width: 100%;

    #sec1{
        width: 100%;
        display: flex;

        #left{
            
            width: 50%;

            #left-bttm{

                
            }
        }
        #right{
            width: 50%;
        }
    }
}
// .search-box {
//   background: url('https://cdn-icons-png.flaticon.com/512/622/622669.png') no-repeat right 10px center;
//   background-size: 20px;
//   padding: 10px 35px 10px 10px; /* right side space for icon */
//   border: 1px solid #ccc;
//   border-radius: 25px;
//   width: 250px;
//   font-size: 16px;
// }