* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-image: url(bg.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
}
main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
main nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 2;
  padding: 1rem 10rem;
}
main nav #nav1 #img {
  width: 10rem;
}
main nav #nav1 #img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main nav #nav2 #buttons {
  display: flex;
  gap: 0.5rem;
}
main nav #nav2 #buttons select {
  font-weight: 600;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 0.4rem 0.8rem;
  color: white;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
main nav #nav2 #buttons button {
  padding: 0.3rem 1rem;
  border-radius: 0.2rem;
  background-color: #c11119;
  color: white;
  outline: none;
  border: none;
  font-weight: 600;
}
main #centre {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main #centre #top {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main #centre #top h1 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
}
main #centre #top h1 span {
  font-size: 3.8rem;
}
main #centre #top h4 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}
main #centre #bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main #centre #bottom p {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
}
main #centre #bottom #inputs {
  display: flex;
  gap: 1rem;
}
main #centre #bottom #inputs input:nth-child(1) {
  padding: 0.8rem 0.5rem;
  height: 3rem;
  width: 25rem;
  color: gray;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 0.3rem;
}
main #centre #bottom #inputs input:nth-child(2) {
  background-color: #c11119;
  color: white;
  border: none;
  outline: none;
  height: 3rem;
  width: 10rem;
  font-weight: 600;
  font-size: 1.3rem;
  border-radius: 0.3rem;
}

#sec2 {
  width: 100%;
  padding: 3rem 10rem;
  background-color: #000000;
}
#sec2 #trending-sec {
  width: 100%;
}
#sec2 #trending-sec h2 {
  font-family: Arial, Helvetica, sans-serif;
}
#sec2 #trending-sec #coursel {
  display: flex;
  display: flex;
  gap: 3rem;
  padding: 2rem 2rem;
  overflow-x: auto;
}
#sec2 #trending-sec #coursel::-webkit-scrollbar {
  display: none;
}
#sec2 #trending-sec #coursel .boxes {
  height: 13rem;
  width: 10rem;
  flex-shrink: 0;
  position: relative;
  transition: all ease-in 0.2s;
}
#sec2 #trending-sec #coursel .boxes:hover {
  scale: 1.1;
}
#sec2 #trending-sec #coursel .boxes img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.7rem;
}
#sec2 #trending-sec #coursel .boxes h3 {
  position: absolute;
  font-size: 5rem;
  left: -25px;
  bottom: 10px;
  color: black;
  -webkit-text-stroke: 2px white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#sec2 #more-reason {
  padding-top: 3rem;
}
#sec2 #more-reason h2 {
  font-family: Arial, Helvetica, sans-serif;
}
#sec2 #more-reason #container {
  width: 100%;
  display: flex;
  padding-top: 1rem;
  gap: 1rem;
}
#sec2 #more-reason #container .box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 25rem;
  background-color: #1d1930;
  border-radius: 0.9rem;
  padding: 1.5rem 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
#sec2 #more-reason #container .box #top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#sec2 #more-reason #container .box #top p {
  opacity: 0.7;
}
#sec2 #more-reason #container .box #bottom {
  align-self: flex-end;
}
#sec2 #more-reason #container .box #bottom i {
  font-size: 2rem;
}
#sec2 #faq .faq details summary::-webkit-details-marker {
  display: none; /* WebKit browsers ke liye */
}/*# sourceMappingURL=style.css.map */