* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr 80px;
  grid-template-areas:
    "div1"
    "div2"
    "div3";

  #div1 {
    width: 100%;
    background-color: #000000;
    grid-area: div1;
    color: white;
    nav {
      padding: 0rem 1.5rem;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      #nav1 {
        font-size: 2rem;
      }

      #navContainer {
        display: flex;
        gap: 80px;
        #nav2 {
          align-items: center;
          display: flex;
          gap: 2rem;
          i {
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.3rem;
            border-radius: 50%;
            background-color: #2a2a2a;
          }

          input {
            width: 25rem;
            height: 2.5rem;
            border-radius: 1.5rem;
            border: none;
            background-color: #2a2a2a;
            padding-left: 2rem;
            font-weight: 600;
            color: white;
          }
        }

        #nav3 {
          display: flex;
          align-items: center;
          gap: 30px;

          button:nth-child(1){
            height: fit-content;
            padding: 0.5rem 1rem;
            border-radius: 1.5rem;
            border: none;
            font-weight: 600;
            outline: none;
          }
           button:nth-child(2){
            height: fit-content;
            padding: 0.5rem 1rem;
            border-radius: 1.5rem;
            border: none;
            font-weight: 600;
            outline: none;
            color: white;
            opacity: 0.6;
            // font-size: 1.1rem;
            background: none;
          }
          i{
            opacity: 0.6;
          }

          #logo{
            background-color: #19E68C;
            padding: 0.5rem 0.8rem;
            border-radius: 50%;
            color: black;
            font-weight: 600;
            border: 8px solid #1F1F1F;
          }
        }
      }
    }
  }

  #div2 {
    background-color: mediumblue;
    grid-area: div2;
  }

  #div3 {
    background-color: mediumorchid;
    grid-area: div3;
  }
}
